body{
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

/* NAVIGATION BAR */
header .nav{
	background:white;
	position: fixed;
	display:inline-block;
	width:100%;
	z-index: 100;

}

.nav h1{
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	padding:15px 25px;
}

.nav ul{
	margin-right: 20px;
	float: right;
	margin-top: -35px;
}

.nav li{
	display: inline-block;
	position: relative;
	float:right;

}

.nav li a {
	list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    margin: 10px;
}

.nav li a:hover {
    @include transition(background, 0.1s);
    color:#4bd6aa;
    cursor: pointer;
}

.nav li a.active {
  color:#4bd6aa;
}

/* MAIN BODY */

.heading{
	background:white;
	color:black;
	font-family: "Montserrat", sans-serif;
	float:left;
	padding:18px;
	font-size: 24px;
	margin-top:80px;
}

.bodyph{
	position: relative;
	padding:2.5%;
	top:180px;
	margin-left: 7.5%;
}

#img{
	position: relative;
	float: left;
	width:35%;
	margin-left: -7.5%;
}

.bodytxt span{
	font-family: "Shrikhand", cursive;
	color:white;
	font-size: 40px;
	padding-bottom: 10px;
}

.bodytxt{
	font-size: 25px;
	width:55%;
	font-family: "Raleway", sans-serif;
	float: left;
	color: white;
	margin-left: 5%;

}


/* FORM VIA CONTACT.HTML */

.contactform{
	position: relative;
	top:180px;
	background: rgba(255, 255, 255, 0.70);
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
}

form{
    padding:4%;
    
}

input {
    width: 90%;
    margin-right: 4.5%;
    margin-left: 4.5%;
    height:13px;
    background:white;
    font-family: "Raleway", sans-serif;
    border:1px solid #dedede;
    padding:10px;
    margin-bottom:7px;
    font-size:0.9em;
    color:#3a3a3a;
    border-radius:3px;
}

textarea {
    width: 90%;
    margin-right: 4.5%;
    margin-left: 4.5%;
    height:175px;
    background:white;
    font-family: "Raleway", sans-serif;
    border:1px solid #dedede;
    padding:10px;
    margin-bottom:7px;
    font-size:0.9em;
    color:#3a3a3a;
    border-radius:3px;
}

#submit {

    width: 82%;
    height: 38px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-left: 10%;
    margin-right: 5px;
    background-color:#4bd6aa;
    color:white;
    font-weight: bold;
}

#submit:hover {
    opacity:.8;
}

/* UNDER CONSTRUCTION PORTFOLIO */
.construction{
	text-align: center;
	position: relative;
	top:220px;
	color:white;
	padding-right: 17%;
}

#website{
	font-family: "Raleway", sans-serif;
	font-size: 20px;
}

#under{
	font-family: "Shrikhand", cursive;
	font-size: 60px;

}

#coming{
	font-family: "Playball", cursive;
	font-size: 32px;

}

/* CONNECT WITH ME | FOOTER */

.connect{
	padding:10px;
	position: absolute;
	bottom:-200px;
	background-color: rgba(255, 255, 255, 0.50);
	width: 100%;
}

.connect h2{
	position: relative;
	float: left;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	margin:22px 0 0 20px;

}

.connect ul li{
	margin-right: 35px;
}

.connect ul li a img{
	position: relative;
	float:right;
	padding:8px;
	margin-top: 5px;
}

.connect ul li a img:hover{
	@include transition(background, 0.2s);
    cursor: pointer;
	background-color: white;
}

