/* General Background Page Sets */
body{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
    min-height: 100%;
}

/* Main E|N Heading */
.nav h1{
	font-family: "Montserrat", sans-serif;
	color:white;
	font-size: 40px;
	font-weight: bold;
	margin:20px;
}

/* Hamburger Navigation Icon Styling */
#nav-icon3{
  	width: 40px;
  	position: relative;
	float:right;
	margin-top:-5.5%;
	margin-right:3%;
  	cursor: pointer;
}

#nav-icon3 span {
	  display: block;
	  position: absolute;
	  height:6px;
	  width: 100%;
	  background: white;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 14px;
}

#nav-icon3 span:nth-child(4) {
  top: 28px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Navigation Menu Items */
.nav ul{
	display:none; 
	margin-right: 8%;
	float: right;
	margin-top: -48px;
}

.nav li{
	display: inline-block;
	position: relative;
	float:right;

}

.nav li a {
	list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    margin: 12px;
}

.nav li a:hover {
	transition: ease-in-out .75s;
    color:gray;
    cursor: pointer;
}

.nav li a.active {
	color:gray;
}


/* Index.html Main Intro */

.intro h1{
	font-family: "Libre Baskerville", serif;
	font-weight: bold;
	text-align: center;
	font-size: 68px;
	color:white;
	margin-top:20%;
}

.intro h2{
	font-family: "Raleway", sans-serif;
	text-align: center;
	margin-left:23.5%;
	margin-top: 3px;
	font-size: 24px;
	color:white;
}

.intro i{
	color:white;
	margin:20% 0 5% 49%; 
	font-size:40px;
	
}

/* index.html second section styling */
.scroll-1{
	background-color: white;
	min-height: 90%;
}

.scroll-1 img{
	float:left;
	margin:5% 5% 5% 3%;
	width:35%;
}

.scroll-1 h1{
	font-family: "Libre Baskerville", serif;
	font-weight: bold;
	text-align: center;
	font-size: 68px;
	padding-top: 27.5%;

}

/* second section button styling */
.scroll-1 button {
	background: none;
	border:none;
	margin:1.5% 0 25% 30.75%;
}

.scroll-1 button a{
	list-style-type: none;
	text-decoration: none;
	border: 1px solid black;
	font-family: "Raleway", sans-serif;
	font-size: 22px;
	color:black;
	text-align: center;
	padding: 10px 15px;

}

.scroll-1 button a:hover{
	background: black;
	color:white;
}


/* ABOUT / PORTFOLIO / CONTACT Page & Nav Bar Setup */
#pages-body{
	background:white;
}

#pages-body .nav h1{
	color:black;
} 

#pages-body .nav li a {
    color: black;
}

#pages-body #nav-icon3 span {
	  background: black;
}

#pages-body .nav li a:hover {
    color:gray;
}

#pages-body .nav li a.active {
	color:gray;
} 

/* MAIN BODY */
/* heading - all page universal, title of the page */
.heading{
	font-family: "Libre Baskerville", serif;
	float:left;
	font-size: 60px;
	margin: 5% 40% 0 5%;
}

.about-body p{
	width:70%;
	font-family:"Raleway", sans-serif;
	font-size:26px;
	padding:3% 5%;
	float: left;
	line-height:30px;
}

#side {
	width:7%;
	float:left;
	margin:5% 0 0 5%;

}

#profile1{
	width:34%;
	margin-left:5%;
	margin-bottom:5%;
}


/* Portfolio.html page styling */
#row-1{
	margin-left:5%;
}

#row-1 img{
	width: 27%;
	margin:5% 5% 5% 0;
	
}

#row-1 img:hover{
	box-shadow: 0 0 22px;
	color:gray;
}


/* CONTACT FORM VIA CONTACT.HTML */
/* general form setup */
.contact-form{
	margin-top:17%;
}

input {
	font-family: "Raleway", sans-serif;
    width:45%;
    margin-left:5%;
    height:13px;
    background:white;
    border:1px solid #dedede;
    padding:10px;
    margin-bottom:7px;
    font-size: 0.9em;
    color:#3a3a3a;
}

textarea {
	font-family: "Raleway", sans-serif;
    width:45%;
    margin-left:5%;
    height:175px;
    background:white;
    border:1px solid #dedede;
    padding:10px;
    margin-bottom:7px;
    font-size: 0.9em;
    color:#3a3a3a;
    border-radius:3px;
}

/* Submit Button on Contact Page */
#submit {
    height: 38px;
    width:10%;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    margin-left: 5%;
}

#submit:hover {
    background:black;
    color:white;
}

/* Image on Contact Page */
#img-3{
	float: right;
	width:35%;
	margin:-33% 5% 5% 5%;
	margin-top:-33%;
	margin-right:
}







/* MEDIA QUERIES TABLETS AND MOBILE DEVICES */







/* MEDIA QUIERIES TABLETS */
/* tablets and ipad devices only */
@media only screen and (max-width: 900px) {

	/* Hamburger Navigation Icon Styling */
	#nav-icon3{
		margin-top:-7%;
	}

	.intro i{
		margin:14% 0 5% 49%; 
		
	}

	/* MAIN BODY */
	/* heading - all page universal, title of the page */
	.heading{
		font-size: 58px;
	}

	.about-body p{
		width:70%;
		font-size:22px;
	}

	/* Image on Contact Page */
	#img-3{
		margin-top:-40%;
	}
    
}



/* MEDIA QUIERIES PHONES */
/* for mobile devices only */
@media only screen and (min-width: 320px) and (max-width: 736px)
  and (orientation: portrait){
  	
	
}



